<%- include('partials/header.ejs') %>
    <header>
        <h1>Welcome Beloved Guests!</h1>
    </header>
    <section class="link-pages">
        <p><a href="http://localhost:8000/leaveNote">Leave a Note for our Hosts</a></p>
        <p><a href="http://localhost:8000/readNote">Read Notes Left by Others</a></p>
    </section>
<%- include('partials/footer.ejs') %>